 .u-section-1 {
  background-image: linear-gradient(white, #6f7177);
}

.u-section-1 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1 .u-text-1 {
  margin: 247px auto 60px;
} .u-section-2 {
  background-image: linear-gradient(#6f7177, #535760);
}

.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-image-1 {
  width: 676px;
  height: 716px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 572px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 360px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #9260f0);
}

.u-section-3 .u-sheet-1 {
  min-height: 1150px;
}

.u-section-3 .u-text-1 {
  line-height: 2;
  font-size: 3.75rem;
  font-family: "Annie Use Your Telescope";
  font-weight: 700;
  margin: 40px 23px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 52px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 254px;
  background-image: url("images/riverhammock.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 302px;
  background-image: url("images/cocoloco.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-3 .u-image-3 {
  min-height: 286px;
  background-image: url("images/yb.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 8px 30px;
}

.u-section-3 .u-image-4 {
  min-height: 843px;
  background-image: url("images/dangernoodle.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  min-height: 254px;
  --effect-scale: 2.75;
  background-image: url("images/br.png");
}

.u-section-3 .u-container-layout-5 {
  padding: 21px 0;
}

.u-section-3 .u-image-6 {
  min-height: 285px;
  background-image: url("images/she.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-3 .u-image-7 {
  min-height: 304px;
  background-image: url("images/puff.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-image-1 {
    min-height: 210px;
  }

  .u-section-3 .u-image-2 {
    min-height: 249px;
  }

  .u-section-3 .u-image-3 {
    min-height: 236px;
  }

  .u-section-3 .u-image-4 {
    min-height: 695px;
  }

  .u-section-3 .u-image-5 {
    min-height: 209px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-6 {
    min-height: 235px;
  }

  .u-section-3 .u-image-7 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2703px;
  }

  .u-section-3 .u-image-1 {
    min-height: 241px;
  }

  .u-section-3 .u-image-2 {
    min-height: 286px;
  }

  .u-section-3 .u-image-3 {
    min-height: 271px;
  }

  .u-section-3 .u-image-4 {
    min-height: 799px;
  }

  .u-section-3 .u-image-5 {
    min-height: 480px;
  }

  .u-section-3 .u-image-6 {
    min-height: 540px;
  }

  .u-section-3 .u-image-7 {
    min-height: 577px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2702px;
  }

  .u-section-3 .u-image-1 {
    min-height: 362px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 429px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 407px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-4 {
    min-height: 1199px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    min-height: 360px;
  }

  .u-section-3 .u-image-6 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-7 {
    min-height: 433px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1815px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 92px;
  }

  .u-section-3 .u-image-1 {
    min-height: 228px;
  }

  .u-section-3 .u-image-2 {
    min-height: 270px;
  }

  .u-section-3 .u-image-3 {
    min-height: 256px;
  }

  .u-section-3 .u-image-4 {
    min-height: 755px;
  }

  .u-section-3 .u-image-5 {
    min-height: 227px;
  }

  .u-section-3 .u-image-6 {
    min-height: 255px;
  }

  .u-section-3 .u-image-7 {
    min-height: 273px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 431px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 15px;
}

.u-section-4 .u-image-1 {
  min-height: 408px;
  background-image: url("images/oceania.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 408px;
  background-image: url("images/space1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 408px;
  background-image: url("images/colour.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-image-4 {
  min-height: 408px;
  background-image: url("images/slenderkid.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 336px;
  }

  .u-section-4 .u-image-2 {
    min-height: 336px;
  }

  .u-section-4 .u-image-3 {
    min-height: 336px;
  }

  .u-section-4 .u-image-4 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-4 .u-image-1 {
    min-height: 515px;
  }

  .u-section-4 .u-image-2 {
    min-height: 515px;
  }

  .u-section-4 .u-image-3 {
    min-height: 515px;
  }

  .u-section-4 .u-image-4 {
    min-height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2666px;
  }

  .u-section-4 .u-image-1 {
    min-height: 773px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 773px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 773px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 773px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1823px;
  }

  .u-section-4 .u-image-1 {
    min-height: 487px;
  }

  .u-section-4 .u-image-2 {
    min-height: 487px;
  }

  .u-section-4 .u-image-3 {
    min-height: 487px;
  }

  .u-section-4 .u-image-4 {
    min-height: 487px;
  }
} .u-section-5 {
  background-image: linear-gradient(white, #b564c9);
}

.u-section-5 .u-sheet-1 {
  min-height: 708px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 716px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/repunzella.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 216px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-2 {
  min-height: 514px;
  background-image: url("images/birb.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 204px;
  background-image: url("images/rawr.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 204px;
  background-image: url("images/tree.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-image-1 {
    min-height: 590px;
  }

  .u-section-5 .u-image-2 {
    min-height: 424px;
  }

  .u-section-5 .u-image-3 {
    min-height: 168px;
  }

  .u-section-5 .u-image-4 {
    min-height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1671px;
  }

  .u-section-5 .u-image-1 {
    min-height: 904px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 650px;
  }

  .u-section-5 .u-image-3 {
    min-height: 257px;
  }

  .u-section-5 .u-image-4 {
    min-height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2117px;
  }

  .u-section-5 .u-image-1 {
    min-height: 678px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 488px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 386px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 386px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-5 .u-image-1 {
    min-height: 427px;
  }

  .u-section-5 .u-image-2 {
    min-height: 307px;
  }

  .u-section-5 .u-image-3 {
    min-height: 243px;
  }

  .u-section-5 .u-image-4 {
    min-height: 243px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 598px;
}

.u-section-6 .u-text-1 {
  margin: 46px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-line-1 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: -174px auto 171px 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    margin-left: 0;
  }
} .u-section-7 {
  background-image: url("images/discovery3.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1122px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 925px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 709px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 532px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 335px;
  }
} .u-section-8 {
  background-image: linear-gradient(white, #b564c9);
}

.u-section-8 .u-sheet-1 {
  min-height: 385px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  width: 221px;
  font-weight: normal;
  margin: 71px auto 0;
}

.u-section-8 .u-group-1 {
  min-height: 184px;
  width: 492px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 20px auto 60px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-2 {
  margin: 30px auto 0 30px;
}

.u-section-8 .u-icon-1 {
  padding: 2px;
}

.u-section-8 .u-text-3 {
  margin: 20px auto 0 30px;
}

.u-section-8 .u-icon-2 {
  padding: 2px;
}

.u-section-8 .u-text-4 {
  margin: 20px auto 0 30px;
}

.u-section-8 .u-icon-3 {
  padding: 2px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}